data/CFD/grid/concat/*
data/CFD/grid/loose/*
**/data/**/raw/*
.venv
.idea
**/processed/*
data/boids_sensitivity/processed/*
**/.ipynb_checkpoints/*
**/output/*
!assignment2/models/output/*.png
!assignment2/models/output/*.gif
**/wandb.login
**/__pycache__/*
*.log
**/wandb/*

# Ignore all model files except the best baseline models
assignment2/models/*.pth
!assignment2/models/best_baseline_boids.pt
!assignment2/models/best_baseline_cfd.pth