data/CFD/grid/concat/*
data/CFD/grid/loose/*
**/data/**/raw/*
.venv
.idea
**/processed/*
data/boids_sensitivity/processed/*
**/.ipynb_checkpoints/*
**/output/*
**/wandb.login
**/__pycache__/*
*.log
**/wandb/*